<?xml version="1.0"?>
<config>
    <chartType>histogram</chartType>
    <shapeType>xxx</shapeType>
    <factoryBean>com.design.mode.factory.method.impl.FileLoggerFactory</factoryBean>
    <abstractFactoryBean>com.design.mode.factory.abstractfactory.impl.SpringSkinFactory</abstractFactoryBean>
</config>